/* 
    Document   : node2node.css
    Created on : 23.11.2010, 03:36:10
    Author     : Siegfried Dünkel <chaosprinz76@googlemail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.ui-dialog-container {
    background-color: #fff;
}
.ui-resizable-handle {
  border-width: 5px !important;
  -moz-border-radius: 180em;
}
#node2nodeResponse {
  padding: 1.5em;
}
.ui-dialog-titlebar {
  background-color: #AFE3FC;
  height: 30px;
}
a.ui-dialog-titlebar-close {
  background: url(img/button_cancel.png) transparent no-repeat;
  position: relative;
  display: inline-block;
  top: 12px; left: 12px;
  width: 20px; height: 20px;
}
a.ui-dialog-titlebar-close-hover {
  background-color: #ddd;
}
a.ui-dialog-titlebar-close span {
  position: absolute;
  left: -9999em;
  top: -9999em;
  text-indent: -9999em;
}
.ui-resizable-handle {
  height: 1px !important;
  background-color: black !important;
}